################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/netcoreapp2.2
